[Unit]
Description=gunicorninstance to server api
After=network.target

[Service]
User=temitayo
Group=temitayo
WorkingDirectory=/home/temitayo/fast-app/src/
Environment="PATH=/home/temitayo/fast-app/venv/bin"
EnvironmentFile=/home/temitayo/fast-app/.env
ExecStart=/home/temitayo/fast-app/venv/bin/gunicorn -w 3 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:7000

[Install]
WantedBy=multi-user.target